


body{
    margin:0;
    background-color: skyblue;
    text-align: center;
}
.top-cloud{
    position: relative;
    left: 150px;
    margin-top: 80px;
}
.botom-cloud{
    position: relative;
    right: 150px;
}
.mountain{
    size: 50%;

}

